.btn {
  outline: none;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-family: inherit;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 200ms linear;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
}

.btn:active {
  transform: scale(0.98);
}
